.about-section{
    margin-top: 6.25rem;
    .about-section__wrapper{
        .about-section__row{
            display: flex; 
            flex-direction: row; 
            flex-wrap: wrap;          
            /*text*/
            .about-section__item{
                .head__title>.title{
                    margin-bottom: 3.4rem;
                }
                .about-section__descr{
                    margin-bottom: 3.4rem;

                }
                .about-section__get-app{
                }
                .section__img{
                    object-fit: contain;
                    width: 100%;
                }
            }
            /*slider*/
            &__slider{
                
            }
        }
        
        
    
    }
}
