.about-section{
    margin-top: 6.25rem;
    .about-section__wrapper{
        .sb-row{
            /*text*/
            .about-section__item{
                .about-section__descr{
                    line-height: 19.2px;
                }
            }
            /*slider*/
            &__slider{
                
            }
        }
    }
}
.head__title>.title, .about-section__descr{
    margin-bottom: 3.4rem;
}
