/*contact*/
.contact__container{
    margin: 0 auto;
    width: 100%;
    text-align: center;

    .contact__information{
        width: 33.33%;
        .information__adress{
            padding-top: 2rem !important;
            padding-bottom: 2rem !important;
        }
        .info-block{
            @extend %flex-dir-jus-ali;
            @extend %contact-block;
            padding: 3.1rem;
            text-align: start;
            font-family: $fontMonrope;

            &__icon{
                width: 10%;
                height: 30px;
                display: flex;
                align-items: center;
            }
            &__name{
                margin-left: 2rem !important;
                width: 30%;
                font-size: 20px;
                font-weight: 800;
            }
            &__descriptions{
                margin-left: 3rem !important;
                width: 70%;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
    .contact__form{
        @extend %contact-block;
        padding:0 5.6rem;
        margin-left: 1rem;
        width: calc(66% - 1rem);
        .contact__form-container{
            padding: 2rem 0;
            .contact__field{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                text-align: start;
                padding-bottom: 22px;
                label{
                    color: #767676;
                    font-family: $fontMonrope;
                    font-weight: 600;
                    padding-bottom: 5px;
                }
                textarea{
                    height: 100px;
                }
                .contact-input{
                    box-sizing: border-box;
                    border: 1px solid  #E3C161;
                    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.24);
                    border-radius: 10px;
                    font-size: 20px;
                    padding: 10px 16px;
                    
                    outline: none;
                    transition: box-shadow .1s;
                    padding-bottom: 5px;
                   
                    &:focus{
                        box-shadow: 0 0 0 2px rgb(228, 191, 90);
                    }
                }
            }
            .contact__field:last-child{
                padding-bottom: 0;
            }
            .contact__field-two{
                width: 100%;
                display: flex;
                flex-direction: row;
                padding-bottom: 0;
                .contact__field:nth-child(1){
                    margin-right: 1rem;
                }
                .contact__field:nth-child(2){
                    margin-left: 1rem;
                }
                .contact__field{
                    width: 100%;

                }
                
            }
            
        }
    }
} 
%contact-block{
    background: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(67, 94, 85, 0.2);
    border-radius: 10px;
    margin-top: .8rem;
    margin-bottom: .8rem;
}
@media (max-width:1024px){
    .contact__container{
        .contact__content{
            .contact__information{
                width: 100%;
                .info-block{
                    // flex-wrap: wrap;
                    &__descriptions{
                        // margin-left: 0 !important;   
                    }
                }
            }
            .contact__form{
                width: 100%;
                .contact__form-container{
                    .contact__field{}
                    .contact__field-two{
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}
