.faq-section__container{
    max-width: 930px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 6.25rem;
    
    .faq-section__wrapper{
        .faq-section__accordion{
            margin-top: 3.5rem;
            .accordion{
                font-family: $fontMonrope !important;
                font-style: normal;

                .accordion-item{
                    background: #FFFFFF;
                    box-shadow: 2px 2px 12px rgba(67, 94, 85, 0.2);
                    border: none;
                    margin-bottom: 1rem;
                    outline: none;
                    border-radius: 20px;
                    .accordion-header{
                        
                        .accordion-button-sb{
                            position: relative;
                            display: flex;
                            width: 100%;
                            font-weight: 800;
                            font-size: 20px;
                            padding: 2rem;
                            border: none;
                            background-color: #FFFFFF;
                            border-radius: 10px ;
                            text-align: start;
                            line-height: 24px;

                            &:after{
                                flex-shrink: 0;
                                width: 1.25rem;
                                height: 1.25rem;
                                margin-left: auto;
                                content: "";
                                background-image: url('/img/icons/arrov.svg') !important;

                                background-repeat: no-repeat;
                                background-size: 1.25rem;
                                transition: transform .2s ease-in-out;
                            }
                            &:focus{
                                box-shadow: none;
                            }
                        }
                        
                        .accordion-button-sb:not(.collapsed)::after {
                            filter: invert(0.5) sepia(1) saturate(0) hue-rotate(0deg);
                            background-image: url('/img/icons/arrov.svg') !important;
                            transform: rotate(-180deg);
                        }
                        .accordion-button-sb:not(.collapsed){
                            color: black !important;
                            background-color: #FFFFFF !important;
                        }
                    }

                    .accordion-body{
                        text-align: start;
                        font-size: 16px;
                        font-weight: 400;
                        padding: 2rem;
                        padding-top:0;
                    }
                }
            }
        }
        .faq-section__btn{
            margin-top: 2.6rem;
        }
    }
}