.feedback-section__container {
    margin-bottom: 10rem;
    &__wrapper {
    }

    &__slider-container {
        background: url('/img/bg/feedback_sct_bg.png') no-repeat;
        background-size: contain;
        .slider-container {
        }
        .feedbac-section__btn {
        }
    }

}