.first-page__content{
    width: 100%;
    height: calc(100vh - 162px);
    .first-page__top{
        height: inherit;
        background: url('/img/header_top_bg.png') no-repeat;
        background-size: cover;
    }
}