.header{
    @extend %flex-dir-jus-ali;
    width: 100%;
    height: 162px;
    background-color: #fff;

    .header__content-container{
        margin: 0 auto;
        width: 100%;
        max-width: $maxWidthContainer;
        .menu{
            @extend %flex-dir-jus-ali;
            justify-content: space-between;

            &__icon{
                display: none;
            }
            &__logo{
                img{
                    width: 297px;
                    height: 68px;
                }
            }
            &__body{
                width: 100%;
                padding: 0 100px 0 100px;
                .menu__list{
                    @extend %flex-dir-jus-ali;
                    justify-content: space-between;
                    font-family:$fontMonrope;
                    font-weight: 700;
                    list-style-type: none;
                    margin: 0 !important;
                    padding-inline-start: 0;
    
                    .menu__link{
                        line-height: 26px;
                        text-decoration: none;
                        color: #000;

                        &:hover{
                            color: $linkColor;
                            transition: color 5ms ease-in;

                        }
                    }
                }
            }
            
            
            &__get-app{
                width: 100%;
                max-width: 265px;
                
            }
        }
        
    }
    
}