body{
    font-size: 16px;
}
ul, ol, p{
    margin: 0 !important;
    padding: 0 !important;

}
@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);

// @import 'fonts';
@import 'variable';
@import 'icons';
@import 'header';
@import 'first_page';
@import 'secondpage';
@import 'aboutapp';
@import 'feedback';
@import 'faq';
@import 'contact';
@import 'footer';


.main_content{
    width: 100%;
}
.wrapper{
    font-family: $fontMonrope;
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
}

/*----------------------ALL TITLE*/
.head__title>.title{
    font-family: $fontMonrope;
    font-weight: 800;
    font-size: 40px;
    font-style: normal;
    margin-bottom: 4.5rem;
}
.text-links{
    color: #489273;
    text-decoration: none;
    font-family: $fontMonrope;
    font-weight: 700;
    &:hover{
        text-decoration: dotted;
        color: #2a5744;
    }
}
/*-----------------------BUTTONS*/
.sb-btn{
    width: 210px;
    height: 50px;
    font-family: $fontMonrope;
    font-weight: 800;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    &:focus{
        box-shadow: 0 0 0 2px #3f8065;
    }

}
.sb-btn-green{
    background-color: #489273;
    
}
.sb-btn-black{
    background-color: #000;
}
.sb-img{
    object-fit: contain;
    width: 100%;
}
/*------------------------------*/

/*-----secound section + about---*/

.sb-row{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    

}
.sb-col-7{
    width: 58.33%;
}
.sb-col-5{
    width:41.33%;
}
.sb-col-4{
    width:33.33%;
}
.pd-1rem{
    padding-left: 1rem;
    padding-right: 1rem;
}
.pd-l-1rem{
    padding-left: 1rem;
}
.pd-r-1rem{
    padding-right: 1rem;
}
.md-top-1rem{
    margin-top: 1rem;
}

/*-------------------------------*/
/*------------------------footer + header - install app */
.get-app-icon{
    display: inline-block;
    width: 127px;
    height: 39px;
    border-radius: 5px;
    margin: 0 2px;
    
}
.icon-playmarket{
    background: url('/img/GooglePlayBadge.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-appstore{
    background: url("/img/AppStoreBadge.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
@media (max-width: 1024px){
    .sb-col-5{
        flex: 0 0 100%;
    }
    .sb-col-7{
        flex: 0 0 100%;    
    }
    .pd-l-1rem{
        padding-left: 0;
    }
    .pd-r-1rem{
        padding-right: 0;
    }
    
}
@media (max-width: 1024px) and (min-width:768px){
    .sb-img-mobile{
        flex: 0 0 50%;
        margin: 0 auto;
    }
    // .sb-col-4{
    //     flex: 0 0 100%;
    // }
   
}
@media (max-width:768px){
    .sb-col-4{
            flex: 0 0 100%;
        }
}